<script src="vocab_show.js"></script>

<div class="row">
  <div class="small-10 small-centered columns">
    <h1><%= @vocab_list.list_name %></h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="small-10 small-offset-1 columns">
    <% if @vocab_list.words == [] %>
      <p>There are no words yet in this list. <%= link_to 'Add some', new_word_path %>?</p>
    <% else %>
      <p><%= link_to 'Add more words!', new_word_path %></p>
      <% @vocab_list.words.order("word_name asc").each do |word| %>
        <%= content_tag(:div, class: "flip", id: dom_id(word), data: { word_info: word } ) do -%>
        <div class="card">
          <div class="face front">
            <h4 class="front-word-title"><%= word.word_name.upcase %></h4>
          </div>

          <div class="face back">
            <h6 class="def-word-title"><%= word.word_name.upcase %></h6>
            <hr class="definition">
            <p class="definition"><b>part of speech:</b> <%= word.part_of_speech %></p>
            <p class="definition"><b>definition:</b> <%= word.definition %></p>
          <% end -%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

